
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Nav style */
nav{
    font-family: "Work Sans", sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
/* shared  */
.btn-primary{
    background-color:#FD6E0A;
    color:white;
    border:none;
    padding:18px 35px;
    border-radius:5px;
    font-weight:bold;
    

}
.dark-2{
    color:#474747;
}
.nav-title{
    font-weight:800px;
    font-size: 45px;
}
.text-primary{
    color:#FD6E0A;
}
nav ul li{
    list-style:none;
    margin-right:51px;
}
nav li a{
    text-decoration: none;
    font-size:25;
}
nav ul{
    display:flex;
    align-items: center;
    
}

/* banner style */
.text-align{
    text-align:center;
}

.secondary-bg{
    background-color:#FFF8F3;
}

.section-title{
    font-size:35px;
    font-weight:bold;
    color:#181818;
}
.banner-gratting{
    font-weight: 700px;
    font-size:45px;

}
.banner-title{
    font-weight: bold;
    font-size:85px;
}
.banner-description{
    font-size:18px;
    font-weight:400px;
}
.banner-profile{
    width:580px;
}
.banner{
    display:flex;
    justify-content:space-between;
    margin:0 35px 0 230px;
}
.banner-content{
    width:585px;
    
}
.header{
    background-image:url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}
main{
    font-family: "Work Sans", sans-serif;
    max-width: 1140px;
    margin:0 auto;
}
.section-title{
    font-weight:bold;
    font-size:35px;
    

}
.section-description{
    font-size:18px;
    font-weight:400;
    margin-bottom:92px;
    
    padding:0px 30px;
}


/* about section */

.about{
    border-radius:10px;
    
    align-items: center;
    padding:130px 150px;
    text-align:center;
    margin-top:130px;
    
}
.about-items{
    display:flex;
    
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
    font-size:20px;
}
.item-title{
    size:20px;
}
/* section skill */
.skills-container{
    display:flex;
    background-color:#FFFFFF;
    gap:24px;

}
.skill{
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius:5px;
}
main section{
    margin-top:130px;
    margin-bottom:130px;
}
/* Resume style */
.resume-container{
    display:flex;
    gap:24px;
}
.secton-title{
    margin-bottom:100px;
    font-weight:bold;
    font-size:35px;
}
.resume-title{
    color:#474747;
    font-weight:bold;
    font-size:30px;
}
.resume-columan-title{
    font-weight:bold;
    font-size:25px;
    color:#474747;
}
.resume-sub-title{
    color:#757575;
    font-weight:600px;
    font-size:20px;
    margin-bottom:20px;
}
.description{
    color:#757575;
    font-weight:400px;
    font-size:16px;
}
.resume hr{
    margin:30px 0px;
}
.resume-btn{
    text-align:center;
    margin-top:50px;
}
.footer{
    display:flex;
    
    padding:130px 230px;
    gap:100px;
    
}
.footer-title{
    font-weight:bold;
    font-size:35px;
    color:#181818;
    
}
footer-column{
    width:50%;
}
footer input[type="text"]{
    height:54px;
    width:100%;
    padding:10px 50px;
    display:block;
    margin-bottom:24px;
    background-color:white;
    border-radius:5px;
    border:none;
    
}
footer input[type="email"]{
    height:54px;
    width:100%;
    padding:10px 50px;
    display:block;
    margin-bottom:24px;
    background-color:white;
    border-radius:5px;
    border:none;
}
footer textarea{
    height:180px;
    border:none;
    padding:18px 365px 134px 30px;
    margin-bottom:20px;
}